.App {
  background-color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #ffffff;
}

.App p {
  margin: 0;
  line-height: 2.5;
  text-align: justify;
}

.App__para {
  padding-inline: 20px;
}
